nav.navbar.is-transparent
    .navbar-brand
        a.navbar-item(href='/') James Jarvis
        a.navbar-burger
            span
            span
            span
    .navbar-menu
        .navbar-end
            +icon-link("LinkedIn", "https://www.linkedin.com/in/james-jarvis1/")(class="fab fa-linkedin-in")
            +icon-link("Github", "https://www.github.com/jamespjarvis")(class="fab fa-github")
            +icon-link("Email", "mailto:jamespjarvis@gmail.com")(class="fa fa-envelope")