@charset "utf-8";
$primary: #282F44;
$title-color:hsl(0, 0%, 75%);
$subtitle-color: hsl(0, 0%, 50%);
$title-family: BlinkMacSystemFont,
-apple-system,
"Segoe UI",
Roboto,
Oxygen,
Ubuntu,
Cantarell,
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$subtitle-family: $title-family;

@import "~bulma/bulma";

html {
  background-color: rgba(0, 0, 0, 0.75);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('img/background.png');
}

.navbar {
  transition: 400ms ease;

  &:not(.is-active) {

    .navbar-item,
    .navbar-burger {
      color: white;
    }

    background-color: transparent;

    .navbar-menu.is-active {
      background-color: white;
    }
  }

  .navbar-brand {
    font-size: 1.5em;
  }

  .navbar-menu {
    transition: opacity 400ms;
    background-color: transparent;
  }

  .navbar-item {
    span {
      vertical-align: middle;
    }
  }

  .icon:not(:last-child) {
    margin-left: -.25em;
    margin-right: .25em;
  }
}

main {
  padding-bottom: 0;
  transition: opacity 100ms;
  position: relative;
  background: transparent;


  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;

    &#title {
      padding-top: 3em;
      flex-direction: column;
      max-width: 800px;
      margin: 0 auto;

      .title.is-1 {
        text-align: left;
        font-size: 10vh;
        margin-bottom: 1em;
      }

    }

    #projects {
      flex: 1;
      padding: 3em 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3em;
      align-items: center;
      justify-content: center;

      @media only screen and (min-width: 768px) {
        grid-template-columns: 35% 35%;

      }




    }

    .arrow-down {
      width: 0.75em;
      height: 0.75em;
      border-top: 1px solid hsl(0, 0%, 50%);
      border-right: 1px solid hsl(0, 0%, 50%);
      transform: rotate(135deg);
    }

    .project {
      position: relative;
      height: 0;
      padding-top: 85%;
      overflow: hidden;
      text-align: center;
      color: white;
      border-radius: 4px;
      border: 2px solid white;

      @media only screen and (min-width: 1024px) {
        padding-top: 70%;
      }

      .image {
        margin: 6% auto;
        width: 50%;

        img {
          margin: 0 auto;

        }
      }

      .heading {
        font-size: 1.5rem;
        letter-spacing: 4px;
      }

      .button {
        letter-spacing: 1px;
      }

      .top,
      .bottom {
        width: 100%;
        padding: 0 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: 400ms ease-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 1rem;
      }

      .bottom {
        top: 150%;
      }

      .project__inner {
        height: 100%;
        width: 100%;
      }

      &:hover {
        .top {
          top: -50%;
        }

        .bottom {
          top: 50%;
        }
      }

    }
  }
}


#projects-link {
  font-size: 3vh;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 2em;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: hsl(0, 0%, 50%);
  }

  &:hover {
    color: hsl(0, 0%, 75%);
  }

  &:active {
    color: hsl(0, 0%, 60%)
  }
}

/* ANIMATIONS */

.fade-in-1,
.fade-in-2 {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.fade-in-1 {
  animation-delay: 0;
}

.fade-in-2 {
  animation-delay: 500ms;

}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}